header {
  background-color: #eebb44;
  margin-bottom: 40px;
}


header h1 {
  line-height: 1;
  margin-bottom: 10px;
}

.card {
  border: 1px solid grey;
  margin-bottom: 20px;

}

.card-image {
  width: 100%;
}

.card-content {
  padding: 10px;
}